<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		<main>
			{% if age >= 18 %}
				<p>Vous êtes bien connecté</p>
			{% else %}
				<p>vous n'etes pas majeur</p>
			{% endif %}
		</main>
	</body>
</html>
